<div class="row">
    <div class="contenedor">
        <h1>Proyectos Realizados</h1>
        <div class="col-sm-12 col-md-7 col-lg-7 p1">
            <h2>pendiente</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati odit blanditiis, dicta quisquam, quasi impedit corrupti sint odio eos ipsam alias ut magni! Dolor culpa fugiat voluptate qui quaerat minus?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p1"> 
            <img src="../../../assets/enconstruccion.jpg" class="img-fluid img-proyecto" >
        </div>
    </div>
</div>
