.row{
    padding: 0%;
    margin: 0%;
}

.conteiner{
    padding: 0%;
    margin: 0%;
}

.difuminado{
    width: 100%;
    height: 600px;
    background: #000000;
    background: -webkit-linear-gradient(to top, hsla(0, 0%, 0%, 0.612), hsla(120, 82%, 33%, 0.612)), url(../../../assets/banner.jpg);
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.612), hsla(120, 82%, 33%, 0.612)), url(../../../assets/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


.logos{
    width: 30px;
}

.logo{
    width: 200px;
}

.wave{
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.menu{
    padding: 5px;
}

/* para celular */
@media (max-width: 575px){
    .iconos{
        flex-direction: column;
    }
    
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logos{
        width: 50px;
    }
}

